.side{
}
.sd_hd{
font-size:14pt;
text-align: left;
display: flex;
width: 800px;
margin: 30px 10px 10px 25px;
}
.hdl{width: 600px;}
.hdl>div{width:100%;}
.hdl>div>input{width: 550px;}
.hdr{width: 200px;padding:5px;}
.hdr>div>input{width: 180px;}
.hd_btn{width: 150px;
margin: 10px auto;
text-align: center;
background: #aaa;
cursor:pointer;
}

.hd_btn:hover{
    box-shadow: 1px 1px 5px #000;
}
.doc{
overflow: auto;
min-width: 800px;
}
.sd_bd{
margin: 20px 0 0 20px;
}

.col{
width:100px;
float: left;
border:1px solid #999;
min-height: 20px;
min-height: 20px;
max-height: 20px;
overflow:hidden;
}
.col>div{
    width:100%;
}
.col0{
background: #aaa;
width:40px;
}
.col0>div{
margin:0 auto;
text-align: center;
}
.row{
display:block;
min-height: 22px;
}
.row0>.col{
background:#aaa;
}
.row0>.head{
background:#aaa;
}

.head{
text-align: center;
width:100px;
float: left;
border:1px solid #999;
min-height: 20px;
min-height: 20px;
max-height: 20px;
overflow:hidden;
cursor:pointer;
}
.head0{
background: #aaa;
width:40px;
}
.sm{
float: left;
display: none;
} 
.bg{ 
float: right;
display: none;
}
#inphd{width:100%;}