.side{
}
.sd_hd{
font-size:24pt;
text-align: center;
margin-top: 20px;
}
.sd_bd{
margin: 20px 0 0 20px;
}
.col{
width:100px;
float: left;
border:1px solid #999;
min-height: 20px;
min-height: 20px;
}
.col0{
background: #aaa;
width:40px;
}
.col0>div{
    margin:0 auto;
    text-align: center;
}
.row{
display:block;
min-height: 22px;
}
.row0>.col{
background:#aaa;
}