.side{
}
.sd_hd{
display: block;
margin: 0 5px;
}
.hd_descr{
border: 1px solid;
width: 640px;
height: 43px;
padding: 5px;
}
.hd_descr>.caps{
position: relative;
top: -5px;
left: -5px;
padding: 0 30px;
background: #000;
color: #fff;
float: left;
}
.sd_hd img{
display: block;
float: right;
width: 50px;
margin: 5px 5px;
}
.sd_hd img:hover{
box-shadow:0 0 5px #000;
}
.sd_bd{
margin:5px;
}
.doc{
overflow: auto;
min-width: 800px;
}
.col{
width:100px;
float: left;
border:1px solid #999;
min-height: 20px;
min-height: 20px;
max-height: 20px;
overflow:hidden;
}
.col>div{
    width:100%;
}
.col0{
background: #aaa;
width:40px;
}
.col0>div{
margin:0 auto;
text-align: center;
}
.row{
display:block;
min-height: 22px;
}
.row0>.col{
background:#aaa;
}
.row0>.head{
background:#aaa;
}

.head{
text-align: center;
width:100px;
float: left;
border:1px solid #999;
min-height: 20px;
min-height: 20px;
max-height: 20px;
overflow:hidden;
cursor:pointer;
}
.head0{
background: #aaa;
width:40px;
}
.sm{
float: left;
display: none;
} 
.bg{ 
float: right;
display: none;
}
#inphd{}