.sd_bd{
margin-left: 20px;
}
.bd_item{
width: 250px;
max-width: 250px;
height: 120px;
max-height: 120px;
margin: 10px;
float: left;
background: #ddd;
box-shadow: 0 0 5px #000;
overflow:hidden;
}
.bd_item:hover{
box-shadow: 2px 2px  10px #000;
}

.it_caps{
display: block;
font-size: 14pt;
background: rgb(240,240,0);
padding: 0 4px 0 10px;
overflow: hidden;
height: 23px;
}
.it_desc{
font-style: italic;
padding: 5px;
height: 80px;
overflow: hidden;
}
.it_desc>div{
width: 230px;
height: 75px;
margin: 5px auto 0 auto;
box-shadow: 0 0 10px #000;
text-align: center;
line-height: 75px;
font-size: 30px;
cursor: pointer;
}
.it_bts{
position:relative;
display:flex;
float:right;
}
.it_bts>div:hover{
font-weight: 600;    
}
.it_bts>div{
    cursor:pointer;
    margin: 0 2px;
}
.it_bt_e{
font-size: 20pt;
position: relative;
top: -3px;
}
